OPENSEARCH_INITIAL_ADMIN_PASSWORD=admin

POSTGRES_HOST=db
POSTGRES_DB=nominatim
POSTGRES_USER=nominatim
POSTGRES_PASSWORD=nominatim

PHOTON_ELASTICSEARCH_HOST=opensearch
PHOTON_ELASTICSEARCH_PORT=9200
PHOTON_NOMINATIM_DATABASE_HOST=db
PHOTON_NOMINATIM_DATABASE_PORT=5432
PHOTON_NOMINATIM_DATABASE_NAME=nominatim
PHOTON_NOMINATIM_DATABASE_USER=nominatim
PHOTON_NOMINATIM_DATABASE_PASSWORD=nominatim

JAVA_OPTS=-Xms1g -Xmx1g
